<div class="email-heading">
  <h3><%= koan.name %></h3>
</div>
<div class="email-body">
  <span>Craig Rubin</span>
  <span>&lt;crubin@youragency.io&gt;</span>
  <p class="header-to">to CSS Koans</p>
  <%= koan.client_email_body %>
  <p>Thanks,<br>Craig the Client</p>
</div>
