<p data-height="245"
data-theme-id="16527"
data-slug-hash="<%=problem.codepen_slug%>"
data-default-tab="result"
data-user="<%=problem.codepen_username%>"
class='codepen'>
  See the Pen
  <a href="<%="http://codepen.io/#{problem.codepen_username}/pen/#{problem.codepen_slug}/"%>">
    <%= name %>
  </a>
</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
