<section class="koan-show-container clearfix">
  <div class="koan-email-container fluid-span-10 fluid-offset-1 clearfix">
    <div class="email-heading clearfix">
      <h3><%= @koan.name %></h3>
    </div>
    <div class="email-body clearfix">
    </div>
    <div class="code-block fluid-span-6 clearfix">
      <p data-height="245" data-theme-id="16527" data-slug-hash="yNaZoa" data-default-tab="result" data-user="rrgayhart" class='codepen'>
        See the Pen
        <a href='http://codepen.io/rrgayhart/pen/yNaZoa/'>
          <%= @koan.name %>
        </a>
        by Romeeka Gayhart (<a href='http://codepen.io/rrgayhart'>@rrgayhart</a>) on <a href='http://codepen.io'>CodePen</a>.
      </p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    </div>
    <div class="goal-block fluid-span-6 fluid-offset-6">
    </div>
  </div>
</section>
