@import "purecss";
@import "colors";
@import "fonts";
@import "mixins";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: $background;
}

.pure-gutter {
  padding: 0 5px 0 5px;
}

@import "welcome";
@import "koans";
@import "standardize";
