@import "koan-email";
@import "koan-code";

.koan-show-container {
  @include container();
  padding: 8px 20px;
}

.interaction-row {
  margin-top: 27px;
  .fork-button-block {
    .codepen-fork, .github-fork {
      @include forkButton();
      @media (max-width: $screen-md-min) {
        margin-bottom: 10px;
      }
    }
  }
}

.goal-block {
  height: 261px;
  border: 1px solid $black;
  border-radius: 6px;
  overflow: hidden;
  @media (max-width: $screen-md-min) {
    margin: 20px 0 0 0;
  }
  .goal-title-block {
    background: $code-block-title-background;
    text-align: center;
    p {
      display: inline-block;
      position: relative;
      padding: 5px 16px 5px;
      color: $code-block-title;
    }
  }

  .goal-visual-block {
    padding: 5px;
    img {
      width: 900px;
    }
  }
}
